.dro {
    .dro-anamnesis {
        background: white;

        @media screen {
            margin: 6rem auto;
        }

        @media screen and (min-width: 960px) {
            display: grid;
            grid-template-areas:
                "headline headline logo"
                "header header aside"
                "content content content";
            grid-template-rows: repeat(1fr, 3);
        }

        @media print {
            display: grid;
            grid-template-areas:
                "headline headline logo"
                "header header aside"
                "content content content";
            grid-template-rows: repeat(1fr, 3);
        }

        &__headline-container {
            align-self: center;
            grid-area: headline;
        }

        &__logo-container {
            align-self: center;
            grid-area: logo;
            @extend .dro-pt-2;
        }

        &__header {
            grid-area: header;
        }

        &__address {
            grid-area: aside;
            @include typography.font-size(5);
        }

        &__headline {
            @extend .dro-mt-3;
            @extend .dro-mb-3;
        }

        &__logo {
            max-width: 66%;
            height: auto;

            @media print {
                max-width: 4cm;
            }
        }

        &__content {
            grid-area: content;
            @include typography.font-size(5);
            border-top: 1px solid var(--color-5);
            @extend .dro-pt-3;
            @extend .dro-mt-3;

            h2 {
                @include typography.font-size(3);
                margin-top: calc(1 * var(--font-size-3));
                margin-bottom: calc(var(--font-size-3) / 2);
            }

            h3 {
                @include typography.font-size(4);
                margin-top: calc(1 * var(--font-size-4));
                margin-bottom: calc(var(--font-size-4) / 2);
            }

            p {
                margin-top: var(--font-size-5);
                margin-bottom: var(--font-size-5);
            }

            ul,
            ol {
                list-style-type: revert;
                padding-left: 3rem;

            }
        }

        &__header-table {
            @include typography.font-size(5);

            td:first-child {
                font-weight: bold;
                color: var(--color-9);
            }

            td {
                vertical-align: baseline;
                padding: 0 1rem 1rem 0;
            }
        }
    }
}