$breakpoint-xs: 576px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1500px;
$breakpoint-xxl: 1920px;

$media-direction: min;

$breakpoints: (
    'default': '',
    'xs': 480px,
    's': 667px,
    'm': 1024px,
    'l': 1280px,
    'xl': 1680px,
);

@mixin breakpoint($breakpoint, $direction: $media-direction) {
    @if map-has-key($breakpoints, $breakpoint) {

        @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else if unitless($breakpoint) {
        $breakpoint: $breakpoint + 0px;

        @media (#{$direction}-width: $breakpoint) {
            @content;
        }
    }
}