@mixin chat-bubble {
    margin-top: var(--lhh);
    margin-bottom: var(--lhh);
    padding: var(--lhh);
    border-radius: var(--default-border-radius);
    min-width: 320px;
    width: 60%;

    >* {
        margin: 0;
    }
}

.dro {
    --default-border-radius: 8px;
    // min-height: 100vh;
    width: 100%;

    .dro-chat {
        @include typography.font-size(5);

        &--bot {
            background: var(--color-3);
            @include chat-bubble();
        }

        &--user {
            @include chat-bubble();
            background: var(--color-2);
            //background: var(--color-2);
            margin-left: 40%;
        }

        &--info {
            @include typography.font-size(5);
            text-align: center;
            color: var(--color-9);
        }

        &__footer {
            position: fixed;
            // border-top: 1px solid var(--color-5);
            bottom: 0;
            padding-top: var(--lhh);
            padding-bottom: var(--lhh);
            width: 100%;
            background: var(--color-8);

            min-height: 72px;
            max-height: 120px;
            overflow-y: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__footer__spinner {
            justify-self: center;
        }
    }


}