.dro {
    --color-1: rgb(66, 143, 3);
    --color-2: #428f031f;
    --color-3: #e3e3da1f;
    --color-4: rgb(142, 209, 252);
    --color-5: #cfcfcf;
    --color-6: white;
    --color-7: #333;
    --color-8: #efeeeb;
}