$side-padding: 1rem;
$max-layout-width: 1280px;
$max-layout-small: 360px;

.dro {
    box-sizing: border-box;
    width: 100%;
    background: white;

    .dro-container {
        padding: var(--lh) $side-padding;
        margin-left: auto;
        margin-right: auto;
        max-width: $max-layout-width;

        >* {
            width: 100%;
        }
    }

    .dro-container--small {
        max-width: $max-layout-small;
    }

    .dro-page-width {
        margin: 0 auto;
        max-width: 720px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        // 1040 => total of max-width + paddings
        @media screen and (min-width: 760px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .dro-restrict-width {
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        // 1040 => total of max-width + paddings
        @media screen and (min-width: 1040px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}