/* 
  Reset all: 
  - https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/
  - Inherited properties to inherit value
  - Non-inherited properties to initial value
*/

.dro {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  ul,
  ol,
  dl,
  p,
  main,
  nav,
  section,
  article,
  summary,
  detail {
    display: block;
    padding: 0;
    margin: 0;

  }
}