/**
 * A few tailwind-style helper classes for setting up spacing.
 * It sets up margin and padding classes for both top and bottom.
 */


$steps: 7;
$vertical-root-size: 7px;
$horizontal-root-size: .5rem;

@mixin make-spacing-classes {
    @for $i from 0 through $steps {
        .dro-mt-#{$i} {
            margin-top: $i * $vertical-root-size !important;
        }

        .dro-mb-#{$i} {
            margin-bottom: $i * $vertical-root-size !important;
        }

        .dro-mr-#{$i} {
            margin-right: $i * $horizontal-root-size !important;
        }

        .dro-ml-#{$i} {
            margin-left: $i * $horizontal-root-size !important;
        }

        .dro-pt-#{$i} {
            padding-top: $i * $vertical-root-size !important;
        }

        .dro-pb-#{$i} {
            padding-bottom: $i * $vertical-root-size !important;
        }

        .dro-pr-#{$i} {
            padding-right: $i * $horizontal-root-size !important;
        }

        .dro-pl-#{$i} {
            padding-left: $i * $horizontal-root-size !important;
        }

    }
}

@include make-spacing-classes;