.dro {
    .dro-toolbar {
        position: sticky;
        top: 0;
        background: var(--color-8);

        &__inner {
            padding: 1rem 1rem;
            display: flex !important;
            justify-content: space-between;
        }

        &__start {
            flex-basis: 50%;
        }

        &__end {
            flex-basis: 50%;
            text-align: right;
        }
    }
}