$font-family-1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-2: "Ubuntu", sans-serif;

.dro {
    --font-size-1: 44px;
    --line-height-1: 56px;

    --font-size-2: 36px;
    --line-height-2: 40px;

    --font-size-3: 32px;
    --line-height-3: 38px;

    --font-size-4: 18px;
    --line-height-4: 24px;

    --font-size-5: 16px;
    --line-height-5: 22px;

    --font-size-6: 14px;
    --line-height-6: 17px;

    --lh: var(--line-height-4);
    --lhh: calc(var(--line-height-4) / 2);

    p {
        margin-top: var(--lh);
        margin-bottom: var(--lh);
    }

    a {
        color: var(--color-1);
        text-decoration: underline;
    }
}

%font-size-1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
}

%font-size-2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
}

%font-size-3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
}

%font-size-4 {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
}

%font-size-5 {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
}

%font-size-6 {
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
}

@mixin font-size($size) {
    @extend %font-size-#{$size};
}

@mixin make-font-size-classes {
    @for $i from 1 through 6 {
        .dro .dro-font-size-#{$i} {
            @include font-size($i);
            margin-top: var(--lhh);
            margin-bottom: var(--lhh);
        }

        .dro h#{$i} {
            @include font-size($i);
            font-weight: bold;
            margin-top: var(--lhh);
            margin-bottom: var(--lhh);
        }
    }
}

@include make-font-size-classes;